.outer-menu {
  position: fixed;
  z-index: 999;
  background: $main-lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
  top: 100%;
  transition: top $transition-menu;

  &.toggle {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    @media (min-width: $mobile-s) {
      display: none;
    }
  }
}

.outer-menu__nav-button {
  position: absolute;
  bottom: 10px;
  display: none;
  justify-content: center;
  align-items: center;

  @media (max-width: $mobile-s) {
    display: flex;
  }

  svg {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);

    width: 54px;
    height: 42px;
    color: white;
    background: $main-lightblue;
    border-radius: 3px;

    &.open-menu {
      &.visibility {
        display: none;
      }
    }

    &.close-menu {
      display: none;
      &.visibility {
        display: block;
      }
    }
  }
}

.outer-menu__nav {
  overflow: hidden;

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 10px 0;

      a {
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        font-size: 1.4rem;
        display: inline-block;
        width: 100%;
        padding: 10px 12px;
        margin: 0 3px;
        color: white;
        border-radius: 3px;

        &:hover {
          text-decoration: none;
          box-shadow: none;
          background: rgb(0%, 29%, 56%, 0.3);
        }
      }
    }
  }
}

.outer-menu__nav_active {
  border-radius: 1px;
  background: rgb(0%, 29%, 56%, 0.3);
  box-shadow: none;
}
