<div class="card light-blue darken-1">
    <div class="card-content white-text">
        <div class="date">
            <span>9 декабря 2020</span>
        </div>
        <span class="card-title">Скидка 10% по промокоду <b>[20TS21]</b></span>
        <p>
            Уважаемые коллеги, партнеры, друзья!
        </p>
        <p>
            Поздравляем вас с наступающим Новым годом и Рождеством!
        </p>
        <p>
            В этот чудесный праздник, Новый год, хотелось бы пожелать исполнения всех заветных желаний,
            крепкого здоровья, искреннего смеха. Пусть в жизни будет больше ярких и красочных моментов,
            успехов, счастья и добра. Все беды и тревоги, повстречавшиеся на вашем пути, пусть обходят
            стороной. Всего наилучшего в наступающем году!
        </p>
        <p>
            Пришла зима и мы дарим Вам скидку до 10 % при заказе нашей системы в период с 15 по 30
            декабря 2020 г. на изготовление и установку любой конструкции зимнего сада, террасы, навеса!
            Просто сообщите нам при заказе промокод [20TS21]!
        </p>
        <br/>
        <div class="row">
            <div class="col l12 m12 s12 news-item-image">
                <img
                        class="materialboxed"
                        width="500px"
                        src="source/news-images/newyear.png"
                        alt="covid"
                />
            </div>
        </div>
    </div>
</div>