<div class="card light-blue darken-1">
    <div class="card-content white-text">
        <div class="date">
            <span>11 ноября 2020</span>
        </div>
        <span class="card-title">Наши приоритеты — здоровье и безопасность</span>
        <p>
            Главным приоритетом нашей компании всегда были и остаются здоровье и безопасность клиентов,
            сотрудников и партнеров. Мы принимаем системные меры для обеспечения безопасности и
            предотвращения распространения вируса COVID-19.
        </p>
        <p>
            При планировании и осуществлении своей деятельности в период пандемии в целях недопущения
            распространения случаев заболеваний, вызванных новым коронавирусом необходимо соблюдать меры
            предосторожности:
        </p>
        <ul>
            <li>ЧАСТО МОЙТЕ РУКИ С МЫЛОМ и обрабатывайте их спиртосодержащим антисептиком</li>
            <li>СОБЛЮДАЙТЕ РАССТОЯНИЕ И ЭТИКЕТ</li>
            <li>ВЕДИТЕ ЗДОРОВЫЙ ОБРАЗ ЖИЗНИ</li>
            <li>ЗАЩИЩАЙТЕ ОРГАНЫ ДЫХАНИЯ С ПОМОЩЬЮ МЕДИЦИНСКОЙ МАСКИ</li>
        </ul>
        <br/>
        <div class="row">
            <div class="col l12 m12 s12 news-item-image">
                <img
                        class="materialboxed"
                        width="500px"
                        src="source/news-images/covid.png"
                        alt="covid"
                />
            </div>
        </div>
    </div>
</div>