// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.main-carousel {
  height: 90vh;
  width: 100vw;

  @media (max-width: $mobile-s) {
    height: 95vh;
  }

  .owl-carousel {
    position: relative;
  }

  .link-to-products {
    position: absolute;
    bottom: 10px;
    width: 5%;
    right: 47.5%;
    z-index: 500;
    img {
      width: 100%;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }

  %carousel {
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-position: center top;

    @media (max-width: $mobile-s) {
      height: 95vh;
      align-items: flex-end;
    }
  }

  @for $i from 1 through 5 {
    .carousel-item-#{$i} {
      background-image: url("../source/carousel_slides/#{$i}_banner.jpg");
      @extend %carousel;
    }
  }

  .content {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    padding: 13px 20px 13px 45px;
    letter-spacing: 0.1px;
    transition: all 0.6s ease;
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
    color: $main-blue-footer;

    @media (max-width: $mobile-s) {
      font-size: 2rem;
      padding: 10px 15px 10px 30px;
      margin-bottom: 30%;
    }

    &:hover {
      letter-spacing: 0.8px;
    }
  }
}

.banners-section {
  background: #fafafa;

  .banners-section__item {
    padding: 0 15px;
    margin: 15px 0;

    .card-content {
      padding: 10px;
    }

    .header {
      margin: 0;
      border-bottom: none;
    }

    a {
      color: $main-color-text;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.about-section {
  a {
    &:hover {
      text-decoration: none;
    }
  }

 /* @media (max-width: 540px) {
    .card.horizontal .card-image {
      max-width: 100%;

      img {
        width: 100%;
      }
    }

    .card {
      &.horizontal {
        display: flex;
        flex-direction: column;
      }
    }
  }*/
}
