.news-section {
  .materialboxed {
    max-width: 100%;
  }

  .date {
    display: flex;
    justify-content: flex-end;
  }

  p {
    padding: 5px 0;
  }

  ul {
    margin: 15px 0;
    padding-left: 40px;

    li {
      list-style: url("../source/icons/emojione-monotone_heavy-check-mark-fff.svg");
    }
  }
}

.news-section__image {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-bottom: 20px;
  }

  @media (max-width: 600px) {
    display: none;
  }
}

.news-item-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
