
.product-section {
  // margin-top: 40px;
}

.flex-s-reverse {
  @media (max-width: 600px) {

  display: flex;
  flex-direction: column;

  .block-first {
    order: 2;
  }

  .block-second {
    order: 1;
  }

  }
}


.product-section__main-content {
  // margin-top: 40px;
  .materialboxed {
    //width: 100%;
    //max-width: 550px;
    max-width: 100%;
  }

  .img-right {
    float: right;
    margin: 5px;
    @media (max-width: 600px) {
      float: none;
    }
  }

  .img-left {
    float: left;
    margin: 5px;
    @media (max-width: 600px) {
      float: none;
    }
  }

  .img-wrapper {
    @media (max-width: 600px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  /* img{
     @media (max-width: 600px) {
       float: none;
     }
   }*/

  a {
    &:hover {
      text-decoration: none;
    }
  }

  p {
    span {
      color: $main-lightblue;
      font-weight: 600;
    }
  }

  ul {
    margin: 15px 0;
    padding-left: 40px;

    li {
      list-style: url("../source/icons/emojione-monotone_heavy-check-mark.svg");
    }
  }

  //последнее
  /* .tabs .tab a:hover, .tabs .tab a.active {
     background-color: rgba(3, 155, 229, 0.1);
     text-decoration: none;
     // color: $main-lightblue;
   }

   .tabs .tab a {
     color: $main-lightblue;
     text-transform: none;
   }

   .tabs .indicator {
     background-color: $main-lightblue;
   }*/

  /* .tabs .tab a{
     color:#000;
   } !*Black color to the text*!

   .tabs .tab a:hover {
     background-color:#eee;
     color:#000;
   } !*Text color on hover*!

   .tabs .tab a.active {
     background-color:#888;
     color:#000;
   } !*Background and text color when a tab is active*!

   .tabs .indicator {
     background-color:#000;
   } !*Color of underline*!*/

}


.container-sectional-drawings {
  display: flex;
  flex-direction: column;
  align-items: center;

}


