<section class="awnings">
    <div class="container">
        <div class="row">
            <div id="customer" class="product-section__main-content">
                <div class="row">
                    <div class="col">
                        <h2 class="main-header">Навес</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col m6 s12">
                        <p>
                            Светопрозрачный навес TS Aluminium - идеальное дополнение к Вашему
                            дому! Он защит от непогоды и станет настоящим украшением Вашего
                            участка , благодаря использованию качественных материалов,
                            тщательной обработке и сборке!
                        </p>

                        <p>
                            Форма и дизайн навеса возможны во многих вариантах, их можно
                            индивидуально подобрать под свои нужды
                        </p>
                        <p>
                            Алюминиевые профили разработаны для каждого элемента конструкции,
                            обладают необходимой прочностью и имеют толщину стенки 4-5 мм.
                            Разнообразие конструктивных решений, различных примыканий и
                            сопряжений помогает реализовать множество архитектурных проектов.
                        </p>
                    </div>
                    <div class="col m6 s12 img-wrapper">
                        <img
                                class="materialboxed img-right"
                                width="500px"
                                src="source/awnings/awnings-main.jpg"
                                alt="awnings"
                        />
                    </div>
                </div>
                <div class="row flex-s-reverse">
                    <div class="col m5 s12 img-wrapper block-first">
                        <img
                                class="materialboxed img-left"
                                width="400px"
                                src="source/awnings/awnings1.jpg"
                                alt="awnings"
                        />
                    </div>
                    <div class="col m7 s12 block-second">
                        <p>
                            Форма стропил позволяет организовать достаточно ровную плоскость
                            потолка, что экономит внутреннее
                            пространство всей конструкции и придает изящный дизайн готовому
                            изделию. Специально разработанные профили позволяют производить
                            укладку проводки и встраиваемые точечные светодиодные светильники,
                            монтировать системы солнцезащиты: маркизы и жалюзи.
                        </p>
                        <p>
                            В конструкции предусмотрено применение закаленного стекла толщиной
                            8 или 10 миллиметров, прочного и достаточно экологичного
                            материала.
                        </p>
                        <p>
                            Профиль может быть окрашен в любой цвет по шкале RAL. На любую
                            ширину и глубину до 4500 мм. В зависимости от типа кровли возможны
                            уклоны от 5 до 45 градусов.
                        </p>
                        <p>
                            Принципиальное преимущество системы TS Aluminium - самонесущий
                            каркас с внутренним стальным усилением алюминиевых профилей,
                            которые не требуют в большинстве случаев дополнительной стальной
                            конструкции.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
