<section class="frameless-glazing">
    <div class="container">
        <div class="row">
            <div id="customer" class="product-section__main-content">
                <div class="row">
                    <div class="col">
                        <h2 class="main-header">
                            Раздвижное безрамное остекление TS Aluminium Serie 16
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col m6 s12">
                        <p>
                            Серия 16 используется для остекления боковых фасадов террас,
                            навесов и павильонов, так же возможно применение внутри домов,
                            квартир или офисов. Отсутствие рам для стекол позволяет пропустить
                            максимальное количество света и тепла на Ваш балкон или террасу
                            при этом остаться защищенным от осадков, ветра, а при
                            необходимости Вы легко можете открыть проемы полностью.
                        </p>
                        <p>
                            В конструкции предусмотрено применение закаленного стекла толщиной
                            8 или 10 миллиметров. Максимальная высота стекол до 2600 мм или
                            максимальная ширина до 2000 мм. Общая ширина остекляемого проема –
                            до 7 метров.
                        </p>
                    </div>
                    <div class="col m6 s12 img-wrapper">
                        <img
                                class="materialboxed img-right"
                                width="500px"
                                src="source/frameless-glazing/glazing2.jpg"
                                alt="customer"
                        />
                    </div>
                </div>
                <div class="row flex-s-reverse">
                    <div class="col m5 s12 img-wrapper block-first">
                        <img
                                class="materialboxed img-left"
                                width="400px"
                                src="source/frameless-glazing/glazing1.jpg"
                                alt="customer"
                        />
                    </div>
                    <div class="col m7 s12 block-second">
                        <p>
                            Алюминиевый каркас системы (профили) изготавливаются из первичного
                            алюминия на заводе в Германии. В системе предусмотрено два вида
                            нижних направляющих - из анодированного алюминия (для балконов,
                            боковых фасадов) и с применением износостойких направляющих из
                            нержавеющей стали (рекомендуется для монтажа во входной группе).
                        </p>
                    </div>
                </div>
                <div class="row flex-s-reverse">
                    <div class="col m5 s12 img-wrapper block-first">
                        <img
                                class="materialboxed img-left"
                                width="400px"
                                src="source/frameless-glazing/glazing3.jpg"
                                alt="customer"
                        />
                    </div>
                    <div class="col m7 s12 block-second">
                        <p>
                            В зависимости от размеров остекляемых проемов и Ваших пожеланий
                            возможно использование до десяти различных схем монтажа.
                        </p>
                        <p>Все схемы закрываются на ключ.</p>
                        <p>
                            Изящная конструкция раздвижных дверей серии 16 придаст воздушности
                            и завершенности Вашей террасе или беседке. Данная система делает вашу
                            террасу абсолютно открытой,ведь двери собираются в одну сторону террасы
                            или равномерно от центра в обе стороны.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
