<section class="gallery-section">
    <div class="container">
        <div class="row">
            <div class="col l3 m12 s12">
                {{>gallery/menu-gallery}}
            </div>
            <div class="col l9 m12 s12">
                {{>gallery/winter-garden-gallery}}

                <div id="terraces" class="gallery-section__album">
                    <h2 class="main-header"></h2>
                    <p>Уже скоро!</p>
                </div>

                <div id="awnings" class="gallery-section__album">
                    <h2 class="main-header"></h2>
                    <p>Уже скоро!</p>
                </div>

                <div id="sliding-doors" class="gallery-section__album">
                    <h2 class="main-header"></h2>
                    <p>Уже скоро!</p>
                </div>

            </div>
        </div>
    </div>
</section>
