<section class="gallery-section">
    <div class="container">
        <div class="row">

            <div class="col l3 m12 s12">

                <div class="main-tabs-menu ">
                    <ul class="collapsible">
                        <li class="active">
                            <a>
                                <div id="active" class="collapsible-header">Выбор галереи</div>
                            </a>
                            <div class="collapsible-body">
                            <span>
                                <ul class="tabs ">
                                    <li class="tab"><a href="#winter-garden">Зимний сад</a></li>
                                    <li class="tab"><a href="#terraces">Терассы</a></li>
                                    <li class="tab"><a href="#folding-doors">Складывающиеся двери</a></li>
                                    <li class="tab"><a href="#sliding-doors">Раздвижные двери HST</a></li>
                                    <li class="tab"><a href="#visors">Козырьки над входом</a></li>
                                </ul>
                            </span>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col l9 m12 s12">

                <div id="winter-garden">
                    <h2 class="main-header">Зимний сад</h2>
                    <div class="gallery-section__album">
                        <div class="img-wrap"><img class="materialboxed"
                                                   src="source/winter_garden_album/182-660gxxl.jpg"></div>
                        <div class="img-wrap"><img class="materialboxed"
                                                   src="source/winter_garden_album/222-50fgxxl.jpg"></div>
                        <div class="img-wrap"><img class="materialboxed"
                                                   src="source/winter_garden_album/236-cf5gxxl.jpg"></div>
                        <div class="img-wrap"><img class="materialboxed"
                                                   src="source/winter_garden_album/243-b73gxxl.jpg"></div>
                        <div class="img-wrap"><img class="materialboxed"
                                                   src="source/winter_garden_album/244-a47gxxl.jpg"></div>
                        <div class="img-wrap"><img class="materialboxed"
                                                   src="source/winter_garden_album/246-325gxxl.jpg"></div>
                        <div class="img-wrap"><img class="materialboxed"
                                                   src="source/winter_garden_album/182-660gxxl.jpg"></div>
                        <div class="img-wrap"><img class="materialboxed"
                                                   src="source/winter_garden_album/222-50fgxxl.jpg"></div>
                        <div class="img-wrap"><img class="materialboxed"
                                                   src="source/winter_garden_album/236-cf5gxxl.jpg"></div>
                        <div class="img-wrap"><img class="materialboxed"
                                                   src="source/winter_garden_album/243-b73gxxl.jpg"></div>
                        <div class="img-wrap"><img class="materialboxed"
                                                   src="source/winter_garden_album/244-a47gxxl.jpg"></div>
                        <div class="img-wrap"><img class="materialboxed"
                                                   src="source/winter_garden_album/246-325gxxl.jpg"></div>
                    </div>

                </div>

                <div id="terraces" class="gallery-section__album">
                    <h2 class="main-header">Терассы</h2>
                </div>

                <div id="folding-doors" class="gallery-section__album">
                    <h2 class="main-header">Складывающиеся двери</h2>
                    <p>Test 2 folding doors</p>
                </div>

                <div id="sliding-doors" class="gallery-section__album">
                    <h2 class="main-header">Раздвижные двери HST</h2>
                    <p>Test 4</p>
                </div>

                <div id="visors" class="gallery-section__album">
                    <h2 class="main-header">Козырьки над входом</h2>
                    <p>Test 4</p>
                </div>

            </div>


        </div>

    </div>
    </div>
</section>