<section class="main-carousel">
    <div class="owl-carousel">
        <div class="carousel-item-1"></div>
        <div class="carousel-item-2"></div>
        <!--<img src="source/carousel_slides/banner_slide_01.jpg">
        <img src="source/carousel_slides/banner_slide_02.jpg">-->
    </div>
</section>

<section class="banners-section">
    <div class="container">
        <div class="row">
            <div class="banners-section__item col l3 m6 s12">
                <a href="#">
                    <div class="card">
                        <div class="card-image">
                            <img src="source/banner_images/glowna_4_bannery_produkty.jpg">
                        </div>
                        <div class="card-content">
                            <h2 class="main-header header center-align">Зимние сады</h2>
                        </div>
                    </div>
                </a>

            </div>
            <div class="banners-section__item col l3 m6 s12">
                <a href="#">
                    <div class="card">
                        <div class="card-image">
                            <img src="source/banner_images/glowna_4_bannery_produkty.jpg">
                        </div>
                        <div class="card-content">
                            <h2 class="main-header header center-align">Террасы</h2></div>
                    </div>
                </a>

            </div>
            <div class="banners-section__item col l3 m6 s12">
                <a href="#">
                    <div class="card">
                        <div class="card-image">
                            <img src="source/banner_images/glowna_4_bannery_produkty.jpg">
                        </div>
                        <div class="card-content">
                            <h2 class="main-header header center-align">Навесы</h2></div>
                    </div>
                </a>

            </div>
            <div class="banners-section__item col l3 m6 s12">
                <a href="/glazing">
                    <div class="card">
                        <div class="card-image">
                            <img src="source/frameless-glazing/glazing5.jpg">
                        </div>
                        <div class="card-content">
                            <h2 class="main-header header center-align">Безрамное остекление</h2></div>
                    </div>
                </a>

            </div>
        </div>
    </div>
</section>

<section class="about-section">
    <div class="container">

        <div class="row">

            <div class="about-section__item col l6 s12">
                <h2 class="main-header header">TS-Aluminium</h2>
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="source/about_main_images/glowna_sytemy_zacieniania.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>
                                !Компания ООО "ТИГ-СЕРВИС" является ценным производителем на рынке, основным
                                предложением которого являются алюминиевые конструкции для строительства зимних садов.
                            </p>
                            <p>
                                Специализированное предложение также включает в себя кровельные террасы, крыши над
                                входными дверями, системы ...
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="light-blue-text">Открыть...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-section__item col l6 s12">
                <h2 class="main-header header">TS-Aluminium</h2>
                <div class="card horizontal">
                    <div class="card-image">
                        <img class="responsive-img" src="source/about_main_images/glowna_sytemy_zacieniania.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>
                                Компания ООО "ТИГ-СЕРВИС" является ценным производителем на рынке, основным
                                предложением которого являются алюминиевые конструкции для строительства зимних садов.
                            </p>
                            <p>
                                Специализированное предложение также включает в себя кровельные террасы, крыши над
                                входными дверями, системы ...
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="light-blue-text">Открыть...</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="about-section__item col l6 s12">
                <ul class="collection with-header">
                    <li class="collection-header"><h2 class="main-header">Профильные системы</h2></li>
                    <li class="collection-item">
                        <a href="#" class="light-blue-text">
                            <div>Изолированые системы
                                <div class="secondary-content">
                                    <img src="source/icons/ion_arrow-redo-sharp.svg" alt="arrow">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="collection-item">
                        <a href="#" class="light-blue-text">
                            <div>Неизолированные системы
                                <div class="secondary-content">
                                    <img src="source/icons/ion_arrow-redo-sharp.svg" alt="arrow">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="collection-item">
                        <a href="#" class="light-blue-text">
                            <div>Вентиляционные системы
                                <div class="secondary-content">
                                    <img src="source/icons/ion_arrow-redo-sharp.svg" alt="arrow">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="collection-item">
                        <a href="/glazing" class="light-blue-text">
                            <div>Безрамное остекление
                                <div class="secondary-content">
                                    <img src="source/icons/ion_arrow-redo-sharp.svg" alt="arrow">
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="about-section__item col l6 s12">

                <div class="card light-blue darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Новинка!</span>

                        <div class="row">
                            <div class="col l6 m12 s12">
                                <p>Уважаемые посетители нашего сайта!</p>
                                <p>С серией плоских крыш у производителей есть возможность следовать архитектурному
                                    тренду...</p>
                                <br>
                            </div>
                            <div class="col l6 m12 s12 news-item-image">
                                <img class="materialboxed" width="227px" height="150px"
                                     src="source\news-images\image_news1.jpg"
                                     alt="news photo">
                            </div>


                        </div>
                    </div>
                    <div class="card-action white-text">
                        <a href="/news" class="white-text">Больше новостей...</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>