<section class="news-section">
    <div class="container">
        <div class="row">
            <div class="col m3">
                <div class="news-section__image">
                    <img class="responsive-img" src="../source/news-images/zdjecie-4.jpg" alt="news">
                    <img class="responsive-img" src="../source/news-images/zdjecie-5.jpg" alt="news">
                    <img class="responsive-img" src="../source/news-images/zdjecie-6.jpg" alt="news">
                </div>
            </div>
            <div class="col m6 s12">
                <h2 class="main-header">Новости</h2>
                <div class="card light-blue darken-1">
                    <div class="card-content white-text">
                        <div class="date">
                            <span>29 ноября 2020</span>
                        </div>
                        <span class="card-title">Новинка!
                            Новинка!
                            Новинка!
                            Новинка!
                            Новинка!
                            Новинка!
                            Новинка!
                            </span>
                        <p>Уважаемые посетители нашего сайта!</p>
                        <p>С серией плоских крыш у производителей есть возможность следовать архитектурному тренду,
                            который характеризуется кубической конструкцией. Детали также приводят к особенно
                            минималистскому виду: например, водосточная труба&nbsp; может «исчезнуть» в угловой
                            опоре.</p>
                        <p>Профильная система серии плоских крыш является весьма рациональным решением, так как рамная
                            конструкция&nbsp; является более прочной, так как&nbsp; части рамы выполняют роль несущих
                            элементов.</p>
                        <br>
                        <div class="row">
                            <div class="col l6 m12 s12 news-item-image">
                                <img class="materialboxed" width="227px" height="150px"
                                     src="source\news-images\image_news1.jpg"
                                     alt="news photo">
                            </div>
                            <div class="col l6 m12 s12 news-item-image">
                                <img class="materialboxed" width="227px" height="150px"
                                     src="source\news-images\image_news2.jpg"
                                     alt="news photo">
                            </div>


                        </div>
                    </div>
                </div>
                <div class="card light-blue darken-1">
                    <div class="card-content white-text">
                        <div class="date">
                            <span>29 ноября 2020</span>
                        </div>
                        <span class="card-title">Акция</span>
                        <p>Третий навес в подарок!</p>
                    </div>

                </div>
                <div class="card light-blue darken-1">
                    <div class="card-content white-text">
                        <div class="date">
                            <span>29 ноября 2020</span>
                        </div>
                        <span class="card-title">Акция</span>
                        <p>Третий навес в подарок.</p>
                    </div>
                </div>
            </div>
            <div class="col m3">
                <div class="news-section__image">
                    <img class="responsive-img" src="../source/news-images/zdjecie-8.jpg" alt="news">
                </div>
            </div>
        </div>
    </div>
</section>