<section class="product-section">
    <div class="container">
        <div class="row">
            <div class="col l3 m12 s12">
                <div class="main-tabs-menu">
                    <ul class="collapsible">
                        {{>products/menu-collapsible-isolated}}
                        {{>products/menu-collapsible-unisolated}}
                    </ul>
                </div>
            </div>
            <div class="col l9 m12 s12">
                <div id="isolated-systems">
                    {{>products/about-isolated}} {{>products/winter-garden}}
                </div>
                <div id="uninsulated-systems">
                    {{>products/about-uninsulated}}
                    {{>products/roof-canopies}}
                    {{>products/flat-roofs}}
                    {{>products/sliding-frameless}}
                </div>
            </div>
        </div>
    </div>
</section>
