<section class="product-section">
    <div class="container">
        <div class="row">

            <div class="col l3 m12 s12">

                <div class="main-tabs-menu">
                    <ul class="collapsible">

                        <li>
                            <div class="collapsible-header">Изолированные системы
                                <br>
                                "ТЕПЛЫЕ"
                                <svg viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.8571 25H9.42857C9.08482 25 8.66332 24.7192 8.16406 24.1577C7.66481 23.5962 7.22693 22.937 6.85045 22.1802C6.47396 21.4233 6.28571 20.7926 6.28571 20.2881C6.26935 19.8975 6.1343 19.2342 5.88058 18.2983C5.62686 17.3625 5.36905 16.2923 5.10714 15.0879C4.84524 13.8835 4.71429 12.7604 4.71429 11.7188V10.9375C4.71429 10.498 4.8657 10.1278 5.16853 9.82666C5.47135 9.52555 5.84375 9.375 6.28571 9.375C6.64583 9.375 6.96503 9.48486 7.2433 9.70459C7.52158 9.92432 7.70164 10.1969 7.78348 10.5225C7.83259 10.0667 7.85714 9.68424 7.85714 9.375C7.85714 8.43099 7.87351 7.51546 7.90625 6.62842C7.93899 5.74137 8.00446 4.74854 8.10268 3.6499C8.20089 2.55127 8.36458 1.66829 8.59375 1.00098C8.82292 0.333659 9.10119 0 9.42857 0C10.1652 0 10.6112 0.37028 10.7667 1.11084C10.9222 1.8514 11 3.56445 11 6.25C11 6.86849 11.0532 7.39746 11.1596 7.83691C11.266 8.27637 11.3969 8.58968 11.5525 8.77686C11.708 8.96403 11.8635 9.11051 12.019 9.21631C12.1745 9.3221 12.3013 9.375 12.3996 9.375H12.5714C12.5714 8.93555 12.7228 8.56527 13.0257 8.26416C13.3285 7.96305 13.7009 7.8125 14.1429 7.8125C15.1905 7.8125 15.7143 8.85417 15.7143 10.9375C15.7143 10.498 15.8657 10.1278 16.1685 9.82666C16.4714 9.52555 16.8397 9.375 17.2734 9.375C17.7072 9.375 18.0796 9.52555 18.3906 9.82666C18.7016 10.1278 18.8571 10.498 18.8571 10.9375V12.5C18.8571 12.0605 19.0086 11.6903 19.3114 11.3892C19.6142 11.0881 19.9825 10.9375 20.4163 10.9375C20.8501 10.9375 21.2225 11.0881 21.5335 11.3892C21.8445 11.6903 22 12.0605 22 12.5V19.5312C22 20.2799 21.9386 20.9554 21.8158 21.5576C21.6931 22.1598 21.5458 22.644 21.3739 23.0103C21.202 23.3765 20.9974 23.6979 20.76 23.9746C20.5227 24.2513 20.3017 24.4507 20.0971 24.5728C19.8925 24.6948 19.6838 24.7925 19.471 24.8657C19.2582 24.939 19.115 24.9797 19.0413 24.9878C18.9676 24.9959 18.9062 25 18.8571 25ZM17.0402 7.03125C17.2039 6.3151 17.2857 5.6071 17.2857 4.90723C17.2857 3.42611 16.9747 2.04264 16.3527 0.756836L17.7522 0C18.4888 1.51367 18.8571 3.14941 18.8571 4.90723C18.8571 5.90007 18.7344 6.86849 18.4888 7.8125L17.0402 7.03125ZM14.0937 5.41992C14.1265 5.14323 14.1429 4.89909 14.1429 4.6875C14.1429 3.80859 13.9874 2.99479 13.6763 2.24609L14.9777 1.51367C15.4687 2.55534 15.7143 3.68652 15.7143 4.90723C15.7143 5.34668 15.6815 5.78613 15.6161 6.22559L14.0937 5.41992ZM4.76339 5.41992L3.24107 6.22559C3.1756 5.78613 3.14286 5.34668 3.14286 4.90723C3.14286 3.68652 3.38839 2.55534 3.87946 1.51367L5.1808 2.24609C4.86979 2.99479 4.71429 3.80859 4.71429 4.6875C4.71429 4.89909 4.73065 5.14323 4.76339 5.41992ZM1.81696 7.03125L0.368304 7.8125C0.122768 6.86849 0 5.90007 0 4.90723C0 3.14941 0.376488 1.51367 1.12946 0L2.50446 0.756836C1.88244 2.04264 1.57143 3.42611 1.57143 4.90723C1.57143 5.6071 1.65327 6.3151 1.81696 7.03125Z"
                                          fill="currentColor"/>
                                </svg>

                            </div>
                            <div class="collapsible-body">
                            <span>

                                <ul class="tabs ">
                                    <li class="tab"><a href="#winter-garden">Зимние сады
                                        <br>
                                    <span>Серия Veranda</span></a></li>
                                    <li class="tab"><a href="#folding-doors">Двери "Гармошка"
                                    <br>
                                    <span>Серии F и F2000</span></a></li>
                                    </a></li>
                                    <li class="tab"><a href="#sliding-doors">Двери подъемно-раздвижные
                                    <br>
                                    <span>Серия HST</span></a></li>
                                    </a></li>
                                    <li class="tab"><a class="active" href="#about-isolated">О системе
                                        <br>
                                    </a></li>
                                </ul>

                            </span>
                            </div>
                        </li>

                        <li>
                            <div class="collapsible-header">Неизолированные системы
                                <br>
                                "ХОЛОДНЫЕ"
                                <svg viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.8571 25H9.42857C9.08482 25 8.66332 24.7192 8.16406 24.1577C7.66481 23.5962 7.22693 22.937 6.85045 22.1802C6.47396 21.4233 6.28571 20.7926 6.28571 20.2881C6.26935 19.8975 6.1343 19.2342 5.88058 18.2983C5.62686 17.3625 5.36905 16.2923 5.10714 15.0879C4.84524 13.8835 4.71429 12.7604 4.71429 11.7188V10.9375C4.71429 10.498 4.8657 10.1278 5.16853 9.82666C5.47135 9.52555 5.84375 9.375 6.28571 9.375C6.64583 9.375 6.96503 9.48486 7.2433 9.70459C7.52158 9.92432 7.70164 10.1969 7.78348 10.5225C7.83259 10.0667 7.85714 9.68424 7.85714 9.375C7.85714 8.43099 7.87351 7.51546 7.90625 6.62842C7.93899 5.74137 8.00446 4.74854 8.10268 3.6499C8.20089 2.55127 8.36458 1.66829 8.59375 1.00098C8.82292 0.333659 9.10119 0 9.42857 0C10.1652 0 10.6112 0.37028 10.7667 1.11084C10.9222 1.8514 11 3.56445 11 6.25C11 6.86849 11.0532 7.39746 11.1596 7.83691C11.266 8.27637 11.3969 8.58968 11.5525 8.77686C11.708 8.96403 11.8635 9.11051 12.019 9.21631C12.1745 9.3221 12.3013 9.375 12.3996 9.375H12.5714C12.5714 8.93555 12.7228 8.56527 13.0257 8.26416C13.3285 7.96305 13.7009 7.8125 14.1429 7.8125C15.1905 7.8125 15.7143 8.85417 15.7143 10.9375C15.7143 10.498 15.8657 10.1278 16.1685 9.82666C16.4714 9.52555 16.8397 9.375 17.2734 9.375C17.7072 9.375 18.0796 9.52555 18.3906 9.82666C18.7016 10.1278 18.8571 10.498 18.8571 10.9375V12.5C18.8571 12.0605 19.0086 11.6903 19.3114 11.3892C19.6142 11.0881 19.9825 10.9375 20.4163 10.9375C20.8501 10.9375 21.2225 11.0881 21.5335 11.3892C21.8445 11.6903 22 12.0605 22 12.5V19.5312C22 20.2799 21.9386 20.9554 21.8158 21.5576C21.6931 22.1598 21.5458 22.644 21.3739 23.0103C21.202 23.3765 20.9974 23.6979 20.76 23.9746C20.5227 24.2513 20.3017 24.4507 20.0971 24.5728C19.8925 24.6948 19.6838 24.7925 19.471 24.8657C19.2582 24.939 19.115 24.9797 19.0413 24.9878C18.9676 24.9959 18.9062 25 18.8571 25ZM17.0402 7.03125C17.2039 6.3151 17.2857 5.6071 17.2857 4.90723C17.2857 3.42611 16.9747 2.04264 16.3527 0.756836L17.7522 0C18.4888 1.51367 18.8571 3.14941 18.8571 4.90723C18.8571 5.90007 18.7344 6.86849 18.4888 7.8125L17.0402 7.03125ZM14.0937 5.41992C14.1265 5.14323 14.1429 4.89909 14.1429 4.6875C14.1429 3.80859 13.9874 2.99479 13.6763 2.24609L14.9777 1.51367C15.4687 2.55534 15.7143 3.68652 15.7143 4.90723C15.7143 5.34668 15.6815 5.78613 15.6161 6.22559L14.0937 5.41992ZM4.76339 5.41992L3.24107 6.22559C3.1756 5.78613 3.14286 5.34668 3.14286 4.90723C3.14286 3.68652 3.38839 2.55534 3.87946 1.51367L5.1808 2.24609C4.86979 2.99479 4.71429 3.80859 4.71429 4.6875C4.71429 4.89909 4.73065 5.14323 4.76339 5.41992ZM1.81696 7.03125L0.368304 7.8125C0.122768 6.86849 0 5.90007 0 4.90723C0 3.14941 0.376488 1.51367 1.12946 0L2.50446 0.756836C1.88244 2.04264 1.57143 3.42611 1.57143 4.90723C1.57143 5.6071 1.65327 6.3151 1.81696 7.03125Z"
                                          fill="currentColor"/>
                                </svg>
                            </div>
                            <div class="collapsible-body">
                             <span>

                                 <ul class="tabs">
                                     <li class="tab"><a href="#roof-canopies">Крыши терасс, навесы
                                     <br>
                                     <span>Серия T</span>
                                     </a></li>
                                     <li class="tab"><a href="#folding-doors-cool">Двери "Гармошка"
                                     <br>
                                     <span>Серия F46</span></a></li>
                                     </a></li>
                                     <li class="tab"><a href="#sliding-frameless">Раздвижные безрамные
                                     <br>
                                     <span>Серия 16</span></a></li>
                                     </a></li>
                                     <li class="tab"><a class="active" href="#about-uninsulated">О системе
                                        <br>
                                    </a></li>
                                 </ul>

                             </span>
                            </div>
                        </li>


                    </ul>
                </div>

            </div>

            <div class="col l9 m12 s12">

                <div id="isolated-systems">


                    <div id="about-isolated" class="product-section__main-content">
                        <h2 class="main-header">Термоизолированные профильные системы "ТЕПЛЫЕ"</h2>
                        <p>
                            Профильные системы TS Aluminium (ТС Алюминиум) произведены в Германии из первичного алюминия
                            и
                            высококачественного полиамида.
                        </p>
                        <p>Термоизолированные алюминиевые профильные системы TS Aluminium предназначены для изготовления
                            высококачественных конструкций:</p>
                        <ul>
                            <li>зимние сады</li>
                            <li>оранжереи</li>
                            <li>атриумы</li>
                            <li>павильоны для бассейнов и ресторанов</li>
                            <li>зенитные фонари</li>
                            <li>террасы</li>
                            <li>веранды</li>
                            <li>беседки</li>
                            <li>автонавесы</li>
                            <li>раздвижные двери и двери гармошка</li>
                            <li>элементов вентиляции</li>
                            <li>козырьки на
                                крыльцо
                            </li>
                            <li>декор и освещение</li>
                        </ul>
                        <p>
                            Варианты систем имеют однотипный конструктив узлов и примыканий, который заслуженно
                            считается
                            передовым инжиниринговым решением, гарантированно исключающую гидро-паро-ветро
                            проницаемость.
                            Принципиальная разница заключается в теплотехнических свойствах системы.
                        </p>

                        <p>
                            Системы ТС Алюминиум имеют эффективные теплотехнические параметры, которые отвечают
                            требованиям
                            современной архитектуры и энергосбережения. Для строительства пассивных и автономных
                            сооружений,
                            применяются системы с увеличенным термомостом которые при заполнении пенополиуретаном и
                            термоизоляцией в зоне штапика, формируют безаналоговую по теплотехническим показателям
                            систему.
                        </p>


                    </div>

                    <div id="winter-garden" class="product-section__main-content">
                        <h2 class="main-header">Зимний сад - зимние сады серии Veranda</h2>

                        <p><span>Компания TS Aluminium</span> (Германия) более 30-ти лет специализируется исключительно
                            на
                            производстве
                            систем для зимних садов и является лидером на рынке зимних садов. Алюминий профиль является
                            прочным, отпорным на атмосферные воздействия и абсолютно не требует обслуживания. Профиля
                            экструдируются в Германии из первичного алюминия. Конструкция получается легкой и прочной с
                            неповторимым дизайном.
                        </p>
                        <p>
                            Зимний сад имеет однотипный конструктив узлов и примыканий, какой заслуженно считается
                            передовым
                            инжиниринговым решением, гарантированно исключающем гидро-паро-ветро проницаемость.
                            Принципиальная разница заключается в теплотехнических свойствах систем.
                        </p>
                        <p>
                            <span>Системы «ТS Aluminium»</span> зимний сад серии Veranda для светопрозрачных крыш (более
                            30-ти лет на
                            рынке) - единственные, представленные в Украине системы остекления зимних садов , которые в
                            отличие от имитирующих систем, гарантированно обеспечивают долговременную гидроизоляцию
                            кровельной части (без применения герметиков), а не относительную работоспособность только на
                            срок официальной гарантии.
                        </p>
                        <p>
                            Рассматривать замену кровельной <span>системы «ТS Aluminium»</span> для зимнего сада на
                            имитирующие аналоги
                            не рекомендуются, т.к. они не гарантируют долговечность и надежность гидроизоляции кровли и
                            нуждаются в обязательном сервисе через каждые 2-5 лет.
                        </p>
                        <p>
                            Статические параметры <span>систем «ТS Aluminium»</span> позволяют построить зимниq сад с
                            глубиной и с шагом
                            между стойками более 5 м, не используя металлокаркас, что дает возможность установки широких
                            раздвижных конструкций (подъемно-раздвижные двери и двери гармошка) и трансформации зимнего
                            сада
                            летом в террасу.
                        </p>
                        <p>В отапливаемых конструкциях зимний сад применяются «тёплые» профили с термоизоляционными
                            вставками, в не отапливаемые - «холодные системы».</p>
                        <p>При проектировании объекта зимний сад большое значение имеет наш опыт, так как было построено
                            множество зимних садов.</p>
                        <p><span>Системы TS Aluminium«Зимний сад»</span> больше 30-ти лет на рынке и постоянно
                            усовершенствуются. Особая
                            конструкция профилей TS Aluminium позволяет присоединять боковые стены зимнего сада,
                            выполненные
                            из алюминия, дерева или ПВХ из любой системы, проявляя, таким образом, индивидуальный подход
                            к
                            конструкции, что дает возможность оптимизировать стоимость зимнего сада. Такая возможность
                            гарантирует Вам выбрать свой вариант комплектации зимнего сада.</p>
                        <p>Форма крыши систем зимний сад серии Veranda является одной из ключевых особенностей дизайна
                            зимнего сада. С одной стороны, она зависит от архитектуры дома, к которому примыкает зимний
                            сад,
                            с другой стороны – от Вашего вкуса и пожеланий. Ниже, разработаны нами, часто используемые
                            формы
                            зимнего сада (на практике, более 100 типов), возможно выполнение нестандартного проекта.</p>
                        <span class="main-subheader">Применение систем - Серия Veranda «Зимний сад»</span>
                        <p>Алюминиевые конструкции:</p>
                        <ul>
                            <li>зимний сад</li>
                            <li>оранжерея</li>
                            <li>веранда</li>
                            <li>крыши террас</li>
                            <li>атриум</li>
                            <li>павильон для бассейна</li>
                            <li>купола</li>
                            <li>беседка</li>
                            <li>автонавес и другие строения с прозрачной крышей</li>
                        </ul>
                        <a class="btn card light-blue darken-1 white-text" href="/gallery">Смотреть галлерею</a>

                    </div>

                    <div id="folding-doors" class="product-section__main-content">
                        <h2 class="main-header">Двери "ГАРМОШКА"</h2>
                        <p>
                            Жизнь "за стеклом" давно ассоциируется с высоким стандартом жизни. Естественное сочетание
                            дома с зимним садом дает зимой больше света, а летом - больше свободного пространства.
                        </p>
                        <p>
                            Узкие алюминиевые профили, обладающие высокой прочностью, обеспечивают хорошую обзорность и
                            одновременно безопасность. Много стекла дает эффект ясных и приятных помещений.
                        </p>
                        <p>
                            Двери TS типа «гармошка» легко открываются и закрываются. В сложенном положении они занимают
                            мало места, и тем самым предоставляют широкий проход.
                        </p>
                        <p>
                            Компания TS Aluminium предлагает интересное решение для владельцев квартир – трансформация
                            балкона в застекленную веранду. Застекленная веранда изолирует от холода, шума, снега, и
                            делает пространство в квартире уютным.
                        </p>
                        <p>
                            Двери TS типа «гармошка» - это инвестиция в будущее. Ваше жилье обретает новый облик. Двери
                            изготавливаются по индивидуальным размерам. Широкая палитра цветов и конструкторские решения
                            компании TS Aluminium удовлетворят все Ваши требования.
                        </p>
                        <p><span class="main-subheader">Применение дверей TS типа «гармошка»</span></p>
                        <p>
                            Алюминиевые конструкции:
                        </p>
                        <ul>
                            <li>зимние сады</li>
                            <li>террасы</li>
                            <li>оранжереи</li>
                            <li>павильоны</li>
                            <li>проходы в зданиях</li>
                            <li>балконы</li>
                            <li>летние рестораны и кафе</li>
                            <li>крытые бассейны</li>
                            <li>перегородки в офисах</li>
                        </ul>
                        <a class="btn card light-blue darken-1 white-text" href="/gallery">Смотреть галлерею</a>
                    </div>

                    <div id="sliding-doors" class="product-section__main-content">
                        <h2 class="main-header">Двери ПОДЪЕМНО-РАЗДВИЖНЫЕ
                            тёплая система серия HST</h2>
                        <p>
                            Удобные в эксплуатации, легко сдвигаемые створки. Высокая герметичность и надежность
                            конструкции. Семь вариантов открывания. Комплектуются двусторонними ручками и замками. Мах
                            возможно 6 створок (в комбинации двух-, трехстворчатых дверей)
                        </p>
                        <p>
                            Конструкции подъемно-раздвижных дверей доступны в различных комбинациях и версиях.
                            Максимально может быть установлено до шести створок. Максимальная ширина и высота крыла -
                            2,50 м. Вес створки – 150 кг, максимальная толщина стеклопакета – 30 мм.
                        </p>
                        <p><span class="main-subheader">Применение дверей TS серии HST</span></p>
                        <ul>
                            <li>боковые стены
                                <ul>
                                    <li>зимние сады</li>
                                    <li>террасы</li>
                                    <li>оранжереи</li>
                                    <li>павильоны</li>
                                </ul>
                            </li>
                            <li>проемы в домах и квартирах</li>
                            <li>балконы</li>
                            <li>летние рестораны и кафе</li>
                            <li>крытые бассейны</li>
                            <li>перегородки в офисах</li>
                        </ul>
                        <a class="btn card light-blue darken-1 white-text" href="/gallery">Смотреть галлерею</a>
                    </div>
                </div>

                <div id="uninsulated-systems">

                    <div id="about-uninsulated" class="product-section__main-content">
                        <h2 class="main-header">Неизолированные профильные системы "ХОЛОДНЫЕ"</h2>
                        <p>
                            Профильные системы TS Aluminium (ТС Алюминиум) произведены в Германии из первичного
                            алюминия.
                        </p>
                        <p>Неизолированные алюминиевые профильные системы TS Aluminium предназначены для изготовления
                            высококачественных конструкций:</p>
                        <ul>
                            <li>террасы</li>
                            <li>«холодные» зимние сады</li>
                            <li>павильоны для бассейнов и ресторанов</li>
                            <li>навесы</li>
                            <li>альтанки</li>
                            <li>веранды</li>
                            <li>беседки</li>
                            <li>автонавесы</li>
                            <li>раздвижные двери и двери гармошка</li>
                            <li>козырьки на крыльцо</li>
                            <li>декор и освещение</li>
                        </ul>

                        <p>Варианты систем имеют однотипный конструктив узлов и примыканий, какой заслуженно считается
                            передовым инжиниринговым решением, гарантированно исключающую гидро-паро-ветро
                            проницаемость.
                            Системы ТС Алюминиум отвечают требованиям современной архитектуры и строительства</p>
                    </div>

                    <div id="roof-canopies" class="product-section__main-content">
                        <h2 class="main-header">Крыша террасы, навес для террасы- серия T</h2>
                        <p>
                            Крыши террас изготавливаются из алюминиевых систем компании TS Aluminium (Германия), которая
                            специализируется на производстве систем для стеклянных крыш и является лидером на рынке.
                            Алюминий профиль является прочным, устойчивым к атмосферным воздействим и абсолютно не
                            требует обслуживания. Конструкция террасной крыши получается легкой и прочной с неповторимым
                            дизайном. Статические параметры систем TS Aluminium позволяют построить крышу для ТЕРРАСЫ с
                            глубиной и с шагом между стойками более 5 м, не используя металлокаркас.
                        </p>
                        <p>
                            При проектировании криши или навеса для террасы большое значение имеет наш опыт, так как
                            было построено множество конструкций. Системы TS Aluminium больше 30-ти лет на рынке и
                            постоянно усовершенствуются.
                        </p>
                        <p>
                            Террасу можно закрыть боковыми стенами с одной или двух сторон, либо же закрыть полностью.
                            Предлагаем различные элементы: от глухих окон до раздвижных систем. С боковыми элементами,
                            Ваша терраса, более защищена от ветра и дождя, и тем самым Вы продлеваете «террасный сезон».
                        </p>
                        <p>
                            При полном закрытии, терраса трансформируется в «холодный» зимний сад - веранду, которая
                            отлично подходит для холодостойких цветов и растений. Боковые элементы террасы легко
                            устанавливаются впоследствии, после монтажа крыши, что дает возможность оптимизировать выбор
                            конфигурации боковых стен и построить закрытую террасу в «отсрочку». Кроме крыш инавесов для
                            террас, специализация профильных систем позволяет строить элегантные и высококачественные
                            веранды, беседки, павильоны для бассейнов, автонавесы, различные навесы и козырьки, также
                            другие строения с прозрачной крышей.
                        </p>
                        <p>
                            Алюминиевая конструкция ( крыша для террасы или навес для террасы) может быть покрашена в
                            любой цвет RAL или декорирована под фактуру дерева. Благодаря специальному покрытию с
                            помощью металлизированного порошка, будет обеспечено качество и долговечность покраски при
                            сохранении насыщенности оттенка.
                        </p>
                        <p><span class="main-subheader">Применение систем серии Т</span></p>
                        <p>Алюминиевые конструкции:</p>
                        <ul>
                            <li>крыша для террасы</li>
                            <li>навес для террасы</li>
                            <li>беседки</li>
                            <li>навесы</li>
                            <li>балконы</li>
                            <li>навес для летнего ресторана и кафе</li>
                            <li>павильоны для бассейнов</li>
                            <li>автонавесы</li>
                            <li>козырьки и другие строения с прозрачной крышей</li>
                        </ul>
                        <a class="btn card light-blue darken-1 white-text" href="/gallery">Смотреть галлерею</a>
                    </div>

                    <div id="folding-doors-cool" class="product-section__main-content">
                        <h2 class="main-header">Складывающиеся двери типа «гармошка» Серия F 46</h2>
                        <p>
                            Легкие в использовании, открывание внутрь или наружу (более 60-ти вариантов). Разные пороги.
                        </p>
                        <p>
                            Позволяют «сложить» стенку, увеличивая проход, тем самым повышается удобство и
                            функциональность террасы.
                        </p>
                        <p>
                            Система уплотнений обеспечивают высокую герметичность. Не требуют консервации, фурнитура
                            гарантируют высокую прочность конструкции.
                        </p>

                        <table class="striped">

                            <tbody>
                            <tr>
                                <td>Мах размер створки:</td>
                                <td>100 x 280 cм</td>
                            </tr>
                            <tr>
                                <td>Max к-во створок:</td>
                                <td>7 шт.</td>
                            </tr>
                            <tr>
                                <td>Max ширина конструкции:</td>
                                <td>7 м</td>
                            </tr>
                            <tr>
                                <td>Max вес створки:</td>
                                <td>60 кг</td>
                            </tr>
                            <tr>
                                <td>Толщина профиля:</td>
                                <td>46 мм</td>
                            </tr>
                            </tbody>
                        </table>
                        <p><span class="main-subheader">Применение дверей TS Aluminium типа «гармошка»</span></p>
                        <ul>
                            <li>боковые стены
                                <ul>
                                    <li>зимние сады</li>
                                    <li>террасы</li>
                                    <li>оранжереи</li>
                                    <li>павильоны</li>
                                </ul>
                            </li>
                            <li>проемы в домах и квартирах</li>
                            <li>балконы</li>
                            <li>летние рестораны и кафе</li>
                            <li>крытые бассейны</li>
                            <li>перегородки в офисах</li>
                        </ul>
                        <a class="btn card light-blue darken-1 white-text" href="/gallery">Смотреть галлерею</a>
                    </div>

                    <div id="sliding-frameless" class="product-section__main-content">
                        <h2 class="main-header">Раздвижные безрамные стеклянные двери - Серия 16</h2>
                        <p>
                            <span>Филигранная конструкция</span> раздвижных дверей Seria 16 придаст воздушности террасе,
                            павильону, беседке.
                        </p>
                        <p>Возможность монтажа раздвижных дверей шириной до 7 м, комплектуются стильными ручками и
                            замками.</p>
                        <p><span class="main-subheader">Применение дверей серии 16</span></p>
                        <ul>
                            <li>боковые стены
                                <ul>
                                    <li>зимние сады</li>
                                    <li>террасы</li>
                                    <li>оранжереи</li>
                                    <li>павильоны</li>
                                </ul>
                            </li>
                            <li>проемы в домах и квартирах</li>
                            <li>балконы</li>
                            <li>летние рестораны и кафе</li>
                            <li>крытые бассейны</li>
                            <li>перегородки в офисах</li>
                        </ul>
                        <a class="btn card light-blue darken-1 white-text" href="/gallery">Смотреть галлерею</a>
                    </div>
                </div>


            </div>


        </div>

    </div>
    </div>
</section>