<section class="winter-garden">
    <div class="container">
        <div class="row">
            <div id="customer" class="product-section__main-content">
                <div class="row">
                    <div class="col">
                        <h2 class="main-header">
                            Зимние сады – Серия Veranda
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col m6 s12">
                        <p>
                            Зимние сады изготавливаются из теплоизоляционных профилей. Пластиковая прокладка,
                            размещенная в поперечном сечении профиля, исключает возможность промерзания алюминиевой
                            конструкции. Возведение зимнего сада из неизолированных профилей без термического разрыва -
                            частая ошибка подрядчиков, она оказывает существенное влияние на работу конструкции. Зимой
                            при высоких перепадах температур на внутренней поверхности профилей появится иней.
                        </p>
                        <p>
                            Для требовательных клиентов мы также предлагаем профили с пенополиуретаном, которые
                            отличаются пониженным коэффициентом теплопередачи
                        </p>
                        <p>
                            Зимние сады TS Aluminium отличаются высоким качеством, прочностью и эстетикой. В своей
                            работе мы руководствуемся собственным опытом и знаниями, и мы заботимся об удовлетворении
                            потребностей клиентов - мы удовлетворяем их индивидуальные потребности и ожидания в
                            отношении формы и реализации зимнего сада.
                        </p>
                    </div>
                    <div class="col m6 s12 img-wrapper">
                        <img
                                class="materialboxed img-right"
                                width="500px"
                                src="source/winter-garden/ZS1.jpg"
                                alt="customer"
                        />
                    </div>
                </div>
                <div class="row flex-s-reverse">
                    <div class="col m5 s12 img-wrapper block-first">
                        <img
                                class="materialboxed img-left"
                                width="400px"
                                src="source/winter-garden/ZS5_snow.jpg"
                                alt="customer"
                        />
                    </div>
                    <div class="col m7 s12 block-second">
                        <p>
                            Зимние сады увеличивают ваши возможности контакта с природой, вы можете использовать их
                            круглый год - независимо от сезона и погоды. Алюминиевая конструкция, предлагаемая компанией
                            TS, стабильна и долговечна, и наши консультанты и дизайнеры прилагают все усилия, чтобы она
                            хорошо вписывалась в архитектуру здания, создавая гармоничное целое. Наш приоритет -
                            тщательно спроектировать и построить зимний сад, чтобы он мог использоваться долгое время.
                        </p>
                        <p>
                            Зимний сад - это помещение, наполненное солнцем, растительностью и определенным климатом. Вы
                            можете обустроить в нем комнату, которая позволит полностью расслабиться и таким образом
                            увеличить жилую площадь дома. Зимние сады могут выполнять различные функции, например,
                            оранжерея для выращивания теплолюбивых видов растений или светлая гостиная с видом на сад.
                        </p>
                    </div>
                </div>
                <div class="row flex-s-reverse">
                    <div class="col m5 s12 img-wrapper block-first">
                        <img
                                class="materialboxed img-left"
                                width="400px"
                                src="source/winter-garden/ZS2.jpg"
                                alt="customer"
                        />
                    </div>
                    <div class="col m7 s12 block-second">
                        <p>
                            Профильная система серии Veranda компании TS Aluminium для строительства зимних садов имеет
                            широкий спектр вариантов дизайна и обладает хорошими теплоизоляционными показателями. Элементы конструкции
                            позволяют организовать монтаж различных типов освещения от точечных до ленточных светильников со скрытой проводкой.
                        </p>
                        <p>Отличительные особенности серии Veranda TS Aluminium:</p>
                        <ul>
                            <li>длина профиля 4-7 м</li>
                            <li>толщина стеклопакетов до 54 мм</li>
                            <li>возможны различные формы крыши</li>
                            <li>конструкция с выносом крыши</li>
                            <li>возможна глубина установки до 6 м</li>
                            <li>окрашивание профиля в любой цвет RAL на заказ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
