<div id="about-uninsulated" class="product-section__main-content">
    <h2 class="main-header">Неизолированные профильные системы "ХОЛОДНЫЕ"</h2>
    <p>
        Профильные системы TS Aluminium (ТС Алюминиум) произведены в Германии из
        первичного алюминия.
    </p>
    <p>
        Неизолированные алюминиевые профильные системы TS Aluminium
        предназначены для изготовления высококачественных конструкций:
    </p>
    <ul>
        <li>террасы</li>
        <li>«холодные» зимние сады</li>
        <li>павильоны для бассейнов и ресторанов</li>
        <li>навесы</li>
        <li>альтанки</li>
        <li>веранды</li>
        <li>беседки</li>
        <li>автонавесы</li>
        <li>раздвижные двери и двери гармошка</li>
        <li>козырьки на крыльцо</li>
        <li>декор и освещение</li>
    </ul>

    <p>
        Варианты систем имеют однотипный конструктив узлов и примыканий, какой
        заслуженно считается передовым инжиниринговым решением, гарантированно
        исключающую гидро-паро-ветро проницаемость. Системы ТС Алюминиум
        отвечают требованиям современной архитектуры и строительства
    </p>
</div>
