<div id="about-isolated" class="product-section__main-content">
    <h2 class="main-header">
        Термоизолированные профильные системы "ТЕПЛЫЕ"
    </h2>
    <p>
        Профильные системы TS Aluminium (ТС Алюминиум) произведены в Германии из
        первичного алюминия и высококачественного полиамида.
    </p>
    <p>
        Термоизолированные алюминиевые профильные системы TS Aluminium
        предназначены для изготовления высококачественных конструкций:
    </p>
    <ul>
        <li>зимние сады</li>
        <li>оранжереи</li>
        <li>атриумы</li>
        <li>павильоны для бассейнов и ресторанов</li>
        <li>зенитные фонари</li>
        <li>террасы</li>
        <li>веранды</li>
        <li>беседки</li>
    </ul>
    <p>
        Варианты систем имеют однотипный конструктив узлов и примыканий, который
        заслуженно считается передовым инжиниринговым решением, гарантированно
        исключающую гидро-паро-ветро проницаемость. Принципиальная разница
        заключается в теплотехнических свойствах системы.
    </p>

    <p>
        Системы ТС Алюминиум имеют эффективные теплотехнические параметры,
        которые отвечают требованиям современной архитектуры и энергосбережения.
        Для строительства пассивных и автономных сооружений, применяются системы
        с увеличенным термомостом которые при заполнении пенополиуретаном и
        термоизоляцией в зоне штапика, формируют безаналоговую по
        теплотехническим показателям систему.
    </p>
</div>
