<div id="roof-canopies" class="product-section__main-content">
    <h2 class="main-header">Крыша террасы, навес для террасы- серия T</h2>
    <p>
        Крыши террас изготавливаются из алюминиевых систем компании TS Aluminium
        (Германия), которая специализируется на производстве систем для
        стеклянных крыш и является лидером на рынке. Алюминий профиль является
        прочным, устойчивым к атмосферным воздействим и абсолютно не требует
        обслуживания. Конструкция террасной крыши получается легкой и прочной с
        неповторимым дизайном. Статические параметры систем TS Aluminium
        позволяют построить крышу для ТЕРРАСЫ с глубиной и с шагом между
        стойками более 5 м, не используя металлокаркас.
    </p>
    <p>
        При проектировании криши или навеса для террасы большое значение имеет
        наш опыт, так как было построено множество конструкций. Системы TS
        Aluminium больше 30-ти лет на рынке и постоянно усовершенствуются.
    </p>
    <p>
        Террасу можно закрыть боковыми стенами с одной или двух сторон, либо же
        закрыть полностью. Предлагаем различные элементы: от глухих окон до
        раздвижных систем. С боковыми элементами, Ваша терраса, более защищена
        от ветра и дождя, и тем самым Вы продлеваете «террасный сезон».
    </p>
    <p>
        При полном закрытии, терраса трансформируется в «холодный» зимний сад -
        веранду, которая отлично подходит для холодостойких цветов и растений.
        Боковые элементы террасы легко устанавливаются впоследствии, после
        монтажа крыши, что дает возможность оптимизировать выбор конфигурации
        боковых стен и построить закрытую террасу в «отсрочку». Кроме крыш
        инавесов для террас, специализация профильных систем позволяет строить
        элегантные и высококачественные веранды, беседки, павильоны для
        бассейнов, автонавесы, различные навесы и козырьки, также другие
        строения с прозрачной крышей.
    </p>
    <p>
        Алюминиевая конструкция ( крыша для террасы или навес для террасы) может
        быть покрашена в любой цвет RAL или декорирована под фактуру дерева.
        Благодаря специальному покрытию с помощью металлизированного порошка,
        будет обеспечено качество и долговечность покраски при сохранении
        насыщенности оттенка.
    </p>
    <p><span class="main-subheader">Применение систем серии Т</span></p>
    <p>Алюминиевые конструкции:</p>
    <ul>
        <li>крыша для террасы</li>
        <li>навес для террасы</li>
        <li>беседки</li>
        <li>навесы</li>
        <li>балконы</li>
        <li>навес для летнего ресторана и кафе</li>
        <li>павильоны для бассейнов</li>
        <li>автонавесы</li>
        <li>козырьки и другие строения с прозрачной крышей</li>
    </ul>
    <a class="btn card light-blue darken-1 white-text" href="/awnings"
    >Подробнее...</a>
    <a class="btn card light-blue darken-1 white-text" href="/gallery"
    >Смотреть галерею</a>
</div>
