<div id="sliding-frameless" class="product-section__main-content">
    <h2 class="main-header">Раздвижные безрамные стеклянные двери - Серия 16</h2>
    <p>
        <span>Филигранная конструкция</span> раздвижных дверей Seria 16 придаст
        воздушности террасе, павильону, беседке.
    </p>
    <p>
        Возможность монтажа раздвижных дверей шириной до 7 м, комплектуются
        стильными ручками и замками.
    </p>
    <p><span class="main-subheader">Применение дверей серии 16</span></p>
    <ul>
        <li>
            боковые стены
            <ul>
                <li>террасы</li>
                <li>павильоны</li>
            </ul>
        </li>
        <li>проемы в домах и квартирах</li>
        <li>балконы</li>
        <li>летние рестораны и кафе</li>
        <li>крытые бассейны</li>
        <li>перегородки в офисах</li>
    </ul>
    <a class="btn card light-blue darken-1 white-text" href="/glazing"
    >Подробнее...</a>
    <a class="btn card light-blue darken-1 white-text" href="/gallery">Смотреть галерею</a>
</div>
