<div id="winter-garden" class="product-section__main-content">
    <h2 class="main-header">Зимний сад - зимние сады серии Veranda</h2>
    <p>
        <span>Компания TS Aluminium</span> (Германия) более 30-ти лет
        специализируется исключительно на производстве систем для зимних садов и
        является лидером на рынке зимних садов. Алюминий профиль является прочным,
        отпорным на атмосферные воздействия и абсолютно не требует обслуживания.
        Профиля экструдируются в Германии из первичного алюминия. Конструкция
        получается легкой и прочной с неповторимым дизайном.
    </p>
    <p>
        Зимний сад имеет однотипный конструктив узлов и примыканий, какой заслуженно
        считается передовым инжиниринговым решением, гарантированно исключающем
        гидро-паро-ветро проницаемость. Принципиальная разница заключается в
        теплотехнических свойствах систем.
    </p>
    <p>
        <span>Системы «ТS Aluminium»</span> (РБ и РФ) зимний сад серии Veranda для
        светопрозрачных крыш (более 4 лет на рынке) - единственные,
        представленные в Украине системы остекления зимних садов , которые в отличие
        от имитирующих систем, гарантированно обеспечивают долговременную
        гидроизоляцию кровельной части (без применения герметиков), а не
        относительную работоспособность только на срок официальной гарантии.
    </p>
    <p>
        Рассматривать замену кровельной <span>системы «ТS Aluminium»</span> для
        зимнего сада на имитирующие аналоги не рекомендуются, т.к. они не
        гарантируют долговечность и надежность гидроизоляции кровли и нуждаются в
        обязательном сервисе через каждые 2-5 лет.
    </p>
    <p>
        Статические параметры <span>систем «ТS Aluminium»</span> позволяют построить
        зимниq сад с глубиной и с шагом между стойками более 5 м, не используя
        металлокаркас, что дает возможность установки широких раздвижных конструкций
        (подъемно-раздвижные двери и двери гармошка) и трансформации зимнего сада
        летом в террасу.
    </p>
    <p>
        В отапливаемых конструкциях зимний сад применяются «тёплые» профили с
        термоизоляционными вставками, в не отапливаемые - «холодные системы».
    </p>
    <p>
        При проектировании объекта зимний сад большое значение имеет наш опыт, так
        как было построено множество зимних садов.
    </p>
    <p>
        <span>Системы TS Aluminium«Зимний сад»</span> больше 30-ти лет на рынке и
        постоянно усовершенствуются. Особая конструкция профилей TS Aluminium
        позволяет присоединять боковые стены зимнего сада, выполненные из алюминия,
        дерева или ПВХ из любой системы, проявляя, таким образом, индивидуальный
        подход к конструкции, что дает возможность оптимизировать стоимость зимнего
        сада. Такая возможность гарантирует Вам выбрать свой вариант комплектации
        зимнего сада.
    </p>
    <p>
        Форма крыши систем зимний сад серии Veranda является одной из ключевых
        особенностей дизайна зимнего сада. С одной стороны, она зависит от
        архитектуры дома, к которому примыкает зимний сад, с другой стороны – от
        Вашего вкуса и пожеланий. В настоящее время существует более 100 типовых
        форм зимнего сада, но также возможно выполнение нестандартного проекта.
    </p>
    <span class="main-subheader"
    >Применение систем - Серия Veranda «Зимний сад»</span
    >
    <p>Алюминиевые конструкции:</p>
    <ul>
        <li>зимний сад</li>
        <li>оранжерея</li>
        <li>веранда</li>
        <li>крыши террас</li>
        <li>атриум</li>
        <li>павильон для бассейна</li>
        <li>купола</li>
        <li>беседка</li>
    </ul>
    <a class="btn card light-blue darken-1 white-text" href="/winter-garden"
    >Подробнее...</a>
    <a class="btn card light-blue darken-1 white-text" href="/gallery"
    >Смотреть галерею</a>
</div>
