<section class="about-us-section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="main-page-text">
                        <p>
                            Наша компания - изготовитель современных и качественных
                            конструкций из немецкой профильной системы TS
                            Aluminium-Profilsysteme GmbH & Co. KG для частных домов,
                            таунхаусов, магазинов, офисов, кафе и ресторанов. Мы работаем по
                            всей территории Беларуси, наши объекты также присутствуют в Москве
                            и Московской области.
                        </p>
                            <div class="wrapper-flex">
                                <div>
                                    Основными типами наших конструкций являются:
                                    <ul>
                                        <li>зимние сады</li>
                                        <li>навесы к дому</li>
                                        <li>закрытые террасы</li>
                                        <li>навесы для автомобилей</li>
                                        <li>безрамное остекление</li>
                                    </ul>
                                </div>
                                <div>
                                    Какие же преимущества вы получите, если остановите свой выбор
                                    на предлагаемой нами системе?
                                    <ul>
                                        <li>Не требует обслуживания , покраски</li>
                                        <li>Не ржавеет</li>
                                        <li>Не гниет</li>
                                        <li>Несложная в сборке</li>
                                        <li>Отсутствие применения “герметиков</li>
                                        <li>Монтаж в любое время года</li>
                                        <li>
                                            Самонесущая конструкция с расстоянием между стойками до
                                            5метров
                                        </li>
                                        <li>
                                            Учет снеговой нагрузки до 175 кг на 1 квадратный метр
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    Мы применяем различные типы стекла, которые максимально
                                    соответствуют Вашим требованиям, а именно:
                                    <ul>
                                        <li>закаленное стекло от 8 до 12 мм</li>
                                        <li>триплекс</li>
                                        <li>тонированное в массе</li>
                                        <li>солнцезащитное стекло STOPSOL</li>
                                        <li>
                                            энергосберегающие стеклопакеты (в случае теплых
                                            конструкций)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                    <p>
                        Цвет конструкции легко подбирается под требования дизайн-проекта
                        или на Ваш выбор по каталогу RAL и реализуется путем нанесения
                        полимерного покрытия. На элементы конструкции и монтаж
                        предоставляется 2-х летняя гарантия.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
