<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="about-section__item col l6 s12">
                <h2 class="main-header header">Скидка 10% по промокоду <b>[20TS21]</b></h2>
                <div class="card large">
                    <div class="card-image">
                        <img src="source/news-images/newyear.png">
                    </div>
                    <div class="card-content">
                        <p>
                            Уважаемые коллеги, партнеры, друзья!
                        </p>
                        <p>
                            Поздравляем вас с наступающим Новым годом и Рождеством!
                        </p>
                        <p>
                            В этот чудесный праздник, Новый год, хотелось бы пожелать исполнения всех заветных желаний,
                            крепкого здоровья, искреннего смеха. Пусть в жизни будет больше ярких и красочных
                            моментов...
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="/news" class="light-blue-text">Открыть...</a>
                    </div>
                </div>
            </div>
            <div class="about-section__item col l6 s12">
                <h2 class="main-header header">Наши приоритеты — здоровье и безопасность</h2>
                <div class="card large">
                    <div class="card-image">
                        <img src="source/news-images/covid.png">
                    </div>
                    <div class="card-content">
                        <p>
                            Главным приоритетом нашей компании всегда были и остаются здоровье и безопасность клиентов,
                            сотрудников и партнеров. Мы принимаем системные меры для обеспечения безопасности и
                            предотвращения распространения вируса COVID-19.
                        </p>
                        <p>
                            При планировании и осуществлении своей деятельности...
                        </p>
                        <ol>
                            <li>ЧАСТО МОЙТЕ РУКИ С МЫЛОМ и обрабатывайте их спиртосодержащим антисептиком</li>
                            <li>СОБЛЮДАЙТЕ РАССТОЯНИЕ И ЭТИКЕТ</li>
                            <li>ВЕДИТЕ ЗДОРОВЫЙ ОБРАЗ ЖИЗНИ</li>
                            <li>ЗАЩИЩАЙТЕ ОРГАНЫ ДЫХАНИЯ С ПОМОЩЬЮ МЕДИЦИНСКОЙ МАСКИ</li>
                        </ol>
                    </div>
                    <div class="card-action">
                        <a href="/news" class="light-blue-text">Открыть...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="about-section__item col l6 s12">
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h2 class="main-header">Профильные системы</h2>
                    </li>
                    <li class="collection-item">
                        <a href="/products" class="light-blue-text">
                            <div>
                                Изолированые системы
                                <div class="secondary-content">
                                    <img
                                            src="source/icons/ion_arrow-redo-sharp.svg"
                                            alt="arrow"
                                    />
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="collection-item">
                        <a href="/products" class="light-blue-text">
                            <div>
                                Неизолированные системы
                                <div class="secondary-content">
                                    <img
                                            src="source/icons/ion_arrow-redo-sharp.svg"
                                            alt="arrow"
                                    />
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="collection-item">
                        <a href="/products" class="light-blue-text">
                            <div>
                                Вентиляционные системы
                                <div class="secondary-content">
                                    <img
                                            src="source/icons/ion_arrow-redo-sharp.svg"
                                            alt="arrow"
                                    />
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="collection-item">
                        <a href="/glazing" class="light-blue-text">
                            <div>
                                Безрамное остекление
                                <div class="secondary-content">
                                    <img
                                            src="source/icons/ion_arrow-redo-sharp.svg"
                                            alt="arrow"
                                    />
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="about-section__item col l6 s12">
                <div class="card light-blue darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Новинки и акции!</span>
                        <p>Уважаемые посетители нашего сайта!</p>
                        <p>
                            Со всеми акциями и скидками вы можете ознакомиться в разделе новостей.
                        </p>

                    </div>
                    <div class="card-action white-text">
                        <a href="/news" class="white-text">Больше новостей...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>