<section class="banners-section">
    <div class="container">
        <div class="row">
            <div class="banners-section__item col l4 m6 s12">
                <a href="/winter-garden">
                    <div class="card">
                        <div class="card-image">
                            <img src="source/winter-garden/ZS5_snow.jpg"/>
                        </div>
                        <div class="card-content">
                            <h2 class="main-header header center-align">Зимние сады</h2>
                        </div>
                    </div>
                </a>
            </div>
            <!--<div class="banners-section__item col l3 m6 s12">
                <a href="#">
                    <div class="card">
                        <div class="card-image">
                            <img src="source/winter-garden/ZS5_snow.jpg"/>
                        </div>
                        <div class="card-content">
                            <h2 class="main-header header center-align">Террасы</h2>
                        </div>
                    </div>
                </a>
            </div>-->
            <div class="banners-section__item col l4 m6 s12">
                <a href="/awnings">
                    <div class="card">
                        <div class="card-image">
                            <img src="source/awnings/awnings2.jpg"/>
                        </div>
                        <div class="card-content">
                            <h2 class="main-header header center-align">Навесы</h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class="banners-section__item col l4 m6 s12">
                <a href="/glazing">
                    <div class="card">
                        <div class="card-image">
                            <img src="source/frameless-glazing/glazing5.jpg"/>
                        </div>
                        <div class="card-content">
                            <h2 class="main-header header center-align">
                                Безрамное остекление
                            </h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>