<section class="main-carousel">
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="owl-carousel">
        <div class="carousel-item-1">
            <div class="content">
                Ваш партнер для зимнего сада
                <br/>
                премиум-класса
            </div>
        </div>
        <div class="carousel-item-2">
            <div class="content">
                Больше света
                <br/>
                и больше пространства
                <br/>
                для общения
            </div>
        </div>
        <div class="carousel-item-3">
            <div class="content">
                Оптимальное соотношение
                <br/>
                цены и качества
            </div>
        </div>
        <div class="carousel-item-4">
            <div class="content">
                Инвестируйте
                <br/>
                в свою недвижимость
            </div>
        </div>
        <div class="carousel-item-5">
            <div class="content">
                Ощутите комфорт
                <br/>
                в гармонии с природой
            </div>
        </div>
    </div>
    <div class="link-to-products" id="go-to-products">
        <a href="#go-to-products"><img src="source/icons/eva_arrowhead-down-fill.svg" alt="down"
        /></a>
    </div>
</section>