<div id="architect" class="product-section__main-content">
    <h2 class="main-header">Сотрудничество – архитекторам и дизайнерам</h2>
    <p><span class="main-subheader">Идеи с системой</span></p>
    <p>
        При реализации строительного проекта, роль архитектора является
        основополагающей.
    </p>
    <p>
        <span>Наша специализация</span> – алюминиевые профильные системы для
        светопрозрачных крыш:
    </p>
    <ul>
        <li>зимние сады</li>
        <li>оранжереи</li>
        <li>атриумы</li>
        <li>павильоны для бассейнов и ресторанов</li>
        <li>зенитные фонари</li>
        <li>террасы</li>
        <li>веранды</li>
        <li>беседки</li>
        <li>автонавесы</li>
    </ul>
    <img
            class="materialboxed img-right"
            width="350px"
            src="source/cooperation/architect.jpg"
            alt="architect"
    />
    <p>
        Системы ТS Aluminium для светопрозрачных крыш (более 40-ка лет на рынке) -
        единственные, представленные в РБ и РФ, системы остекления зимних садов и
        террас, какие в отличии от имитирующих систем, гарантированно обеспечивают
        долговременную гидроизоляцию кровельной части (без применения герметиков), а
        не относительную работоспособность только на срок официальной гарантии.
        Рассматривать замену кровельной системы ТS Aluminium на имитирующие аналоги
        не рекомендуются, т.к. они не гарантируют долговечность и надежность
        гидроизоляции кровли и нуждаются в обязательном сервисе через каждые 2-5
        лет.
    </p>
    <p>
        Системы ТS Aluminium имеют эффективные теплотехнические параметры, которые
        отвечают требованиям современной архитектуры и энергосбережения. Для
        строительства пассивных и автономных сооружений, применяются системы с
        увеличенным термомостом, какой при заполнении пенополиуретаном и
        термоизоляцией в зоне штапика, формирует безаналоговую по теплотехническим
        показателям систему.
    </p>
    <p>
        Конструкции зимних садов имеют однотипный конструктив узлов и примыканий,
        какой заслуженно считается передовым инжиниринговым решением, гарантированно
        исключающем гидро-паро-ветро проницаемость. Принципиальная разница
        заключается в теплотехнических свойствах систем.
    </p>
    <p>
        Технические решения ТS Aluminium позволяют реализовать разнообразные
        архитектурные идеи (более 100 типовых конструкций), гарантируя
        герметичность, прочность и долговечность. Особенностью систем TS Аluminium
        является возможность трансформации зимнего сада в террасу, с большими
        пролетами по глубине и ширине (более 4м), без металлокаркаса, в которые
        возможна установка широких раздвижных систем.
    </p>
    <p>
        Предоставляем информации о системах ТS Aluminium: каталоги, описания систем,
        сечения и dwg-фалы, чертежи узлов и примыканий, руководства и видео по
        монтажу, буклеты. Предоставляем все необходимые расчёты с трехмерной
        визуализацией в программе TS-WigaCad.
    </p>
</div>
