<div id="customer" class="product-section__main-content">
    <h2 class="main-header">Сотрудничество – частному заказчику</h2>
    <p><span class="main-subheader">Ваше место под солнцем</span></p>
    <p>
        Компания TS Aluminium (Германия) <span>более 40 лет</span> занимается
        проектированием и изготовлением «тёплых» и «холодных» алюминиевых систем.
    </p>
    <p>
        <span>Наша специализация</span> – алюминиевые профильные системы для
        светопрозрачных крыш:
    </p>
    <ul>
        <li>зимние сады</li>
        <li>оранжереи</li>
        <li>атриумы</li>
        <li>павильоны для бассейнов и ресторанов</li>
        <li>зенитные фонари</li>
        <li>террасы</li>
        <li>веранды</li>
        <li>беседки</li>
        <li>автонавесы</li>
    </ul>
    <img
            class="materialboxed img-right"
            width="350px"
            src="source/cooperation/customer.jpg"
            alt="customer"
    />
    <p>Профиля экструдируются в Германии из первичного алюминия.</p>
    <p>
        Системы ТS Aluminium для светопрозрачных крыш - единственные, представленные
        в РБ и РФ, системы остекления зимних садов и террас, какие в отличии от
        имитирующих систем, гарантированно обеспечивают долговременную гидроизоляцию
        кровельной части (без применения герметиков), а не относительную
        работоспособность только на срок официальной гарантии. Рассматривать замену
        кровельной системы ТS Aluminium на имитирующие аналоги не рекомендуются,
        т.к. они не гарантируют долговечность и надежность гидроизоляции кровли и не
        нуждаются в обязательном сервисе через каждые 2-5 лет.
    </p>
    <p>
        Технические решения TS Aluminium позволяют реализовать разнообразные
        архитектурные проекты
        <span>(более 100 типовых конструкций)</span>, гарантируя герметичность,
        прочность и долговечность конструкций.
    </p>
    <p>
        Возможность установки боковых стен из любой системы (алюминий, пластик,
        дерево) позволяет оптимизировать общую стоимость и учитывать индивидуальные
        особенности зимнего сада.
    </p>
    <p>
        Зимний сад из систем TS Aluminium улучшит качество Вашей жизни и обеспечит
        максимальный комфорт в гармонии с природой, независимо от погоды и времени
        года, станет украшением дома и его центральным местом.
    </p>
    <p>
        Зимний сад – показатель высокого уровня жизни, украшение дома и гордость
        хозяина. Застекленный салон, кабинет или офис, заполненная солнцем столовая,
        уютная веранда и полная буйной зелени оранжерея – это лишь немногие варианты
        использования свободного пространства. Зимний сад - центральное место в
        доме, где собирается вся семья для отдыха и проведения праздников. Это
        место, куда с гордостью приглашают гостей.
    </p>
    <p>
        Наши зимние сады и террасы - это современные и функциональные системы,
        которые будут отвечать Вашим требованиям по качеству, прочности,
        безопасности и дизайну. Планируя настоящий зимний сад или террасу –
        обращайтесь к специалистам, наша специализация и опыт обеспечат
        гарантированный результат.
    </p>
</div>
