<div id="processor" class="product-section__main-content">
    <h2 class="main-header">Вниманию переработчиков!</h2>
    <p>
        Наша компания является официальным дистрибьютором «TS
        Aluminium-Profilsysteme GmbH & Co. KG» в Республике Беларусь и Российской
        Федерации
    </p>
    <p>
        Светопрозрачные крышные системы ТS Aluminium являются уникальным
        предложением для остекления террасы и зимних сада в течении последних 40 лет
        в Европе. Главным отличием и в тоже время преимуществом над большинством
        актуальных предложений является гидроизоляция кровельной части конструкции
        террасы или зимнего сада. Этот результат был достигнут благодаря
        многолетнему опыту и инновационным разработкам специальных резиновых
        уплотнителей, которые позволили полностью отказаться от применения
        герметиков.
    </p>
    <img
            class="materialboxed img-right"
            width="350px"
            src="source/cooperation/processor.jpg"
            alt="processor"
    />
    <p>
        Так же важной особенностью стоит отметить то, что предлагаемые конструкции
        являются самонесущими, например: водоприемный желоб поддерживает стропила и
        в тоже время сам опирается на несущие стойки, пристенный профиль так же
        поддерживает стропила и обеспечивает герметичное примыкание конструкции к
        стене здания. Особое сечение профиля стропил позволяет обеспечить достаточно
        ровную плоскость потолка террасы или зимнего сада при этом хорошо переносить
        вертикальные нагрузки в виде веса стекла и осадков. Форма стропил
        предусматривает возможный монтаж солнцезащитных устройств и освещения.
    </p>
    <p>
        В пристенном и опорном профилях возможно применение поворотных элементов,
        дающие возможность спроектировать угол наклона крыши от 3 º до 45 º,
        значительно упрощая предварительную обработку и монтаж профилей.
    </p>
    <p>
        В целях уменьшения отходов мы предлагаем к поставке алюминиевые профиля в
        складских длинах от 4 до 7 метров. Профиль производится из первичного
        алюминия непосредственно в Германии. Вместе с профилями поставляются все
        необходимые резиновые уплотнители, соединители, метизная группа.
    </p>
    <p>
        Система достаточно проста для переработки (предоставляется производственный
        список нарезки материалов) и монтажа (предоставляется шеф-монтаж), так же
        предоставляется перечень размеров стекол или стеклопакетов.
    </p>
    <p>
        Мы предлагаем более 100 типовых конструкций, дающих возможность реализовать
        разнообразные архитекторские идеи в герметичные прочные и долговечные
        конструкции.
    </p>
    <p>
        Обращаем внимание на то, что система TS Аluminium позволяет реализовывать
        проекты с большими межстоечными пролетами до 5 метров без поддерживающих
        стальных ферм. В эти пролеты весьма изящно вписываются наши раздвижные
        системы.
    </p>
    <p>
        Продукция TS Aluminium прошла лабораторные испытания (механические и
        тепловые) что подтверждено сертификатами Германии.
    </p>
    <p>
        Наш офис осуществляет консалтинговую и маркетинговую поддержку на всех
        этапах реализации Вашего проекта, помогаем в обучении конструкторов,
        менеджеров и монтажников. Предоставляем необходимую печатную продукцию по
        монтажу с чертежами узлов и элементов системы.
    </p>
</div>
