<div class="main-tabs-menu">
    <ul class="collapsible">
        <li class="active">
            <a>
                <div id="active" class="collapsible-header">Выбор галереи</div>
            </a>
            <div class="collapsible-body">
                <span>
                  <ul class="tabs">
                    <li class="tab"><a href="#winter-garden">Зимний сад</a></li>
                    <li class="tab"><a href="#terraces">Террасы</a></li>
                    <li class="tab">
                      <a href="#awnings">Навесы</a>
                    </li>
                    <li class="tab">
                      <a href="#sliding-doors">Безрамные раздвижные <br> конструкции</a>
                    </li>
                  </ul>
                </span>
            </div>
        </li>
    </ul>
</div>