<div id="winter-garden">
    <h2 class="main-header">Зимний сад</h2>
    <div class="gallery-section__album">
        <div class="img-wrap">
            <img
                    class="materialboxed"
                    src="source/winter_garden_album/182-660gxxl.jpg"
            />
        </div>
        <div class="img-wrap">
            <img
                    class="materialboxed"
                    src="source/winter_garden_album/222-50fgxxl.jpg"
            />
        </div>
        <div class="img-wrap">
            <img
                    class="materialboxed"
                    src="source/winter_garden_album/236-cf5gxxl.jpg"
            />
        </div>
        <div class="img-wrap">
            <img
                    class="materialboxed"
                    src="source/winter_garden_album/243-b73gxxl.jpg"
            />
        </div>
        <div class="img-wrap">
            <img
                    class="materialboxed"
                    src="source/winter_garden_album/244-a47gxxl.jpg"
            />
        </div>
        <div class="img-wrap">
            <img
                    class="materialboxed"
                    src="source/winter_garden_album/246-325gxxl.jpg"
            />
        </div>
        <div class="img-wrap">
            <img
                    class="materialboxed"
                    src="source/winter_garden_album/182-660gxxl.jpg"
            />
        </div>
        <div class="img-wrap">
            <img
                    class="materialboxed"
                    src="source/winter_garden_album/222-50fgxxl.jpg"
            />
        </div>
        <div class="img-wrap">
            <img
                    class="materialboxed"
                    src="source/winter_garden_album/236-cf5gxxl.jpg"
            />
        </div>
        <div class="img-wrap">
            <img
                    class="materialboxed"
                    src="source/winter_garden_album/243-b73gxxl.jpg"
            />
        </div>
        <div class="img-wrap">
            <img
                    class="materialboxed"
                    src="source/winter_garden_album/244-a47gxxl.jpg"
            />
        </div>
        <div class="img-wrap">
            <img
                    class="materialboxed"
                    src="source/winter_garden_album/246-325gxxl.jpg"
            />
        </div>
    </div>
</div>